* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .bg-container {
    background-color: lightblue;
    min-height: 100vh;
    padding: 50px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .app-logo {
    text-decoration: none;
    font-size: 42px;
    font-family: 'Roboto';
    color: #323f4b;
    font-weight: bold;
  }
  
  .sections-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  .anchor-element {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
  }
  
  .profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 50px;
  }
  
  .heading {
    font-size: 48px;
    font-family: 'Roboto';
    color: #000000;
    font-weight: bold;
  }
  
  .span-element {
    color: hsl(41, 90%, 44%);
  }
  
  .description {
    color: #323f4b;
    font-size: 22px;
  }
  
  .download-btn {
    width: 150px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .profile-image {
    height: 400px;
    width: 400px;
    border-radius: 200px;
  }